<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <h1>Music</h1>
    <ul>
        <% music.forEach(function(song) { %>
        <li>
            <%= song.artist %>
            -
            <%= song.track %>
            -
            <%= song.length %>
        </li>
        <% }); %>
    </ul>
</body>

</html>